@model WebApplication3.Models.Cliente

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Borrar Cliente</h2>

<h3>Esta seguro que desea borrar este Item?</h3>
<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApyNom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApyNom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Domicilio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Domicilio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DomicilioSec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DomicilioSec)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DNI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DNI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Celular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fijo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fijo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cartera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cartera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zona.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zona.Descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista de Clientes", "Index")
        </div>
    }
</div>
